<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732396590903-djaoktqtv06e3nnm446j468lqda9jjno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732396590903-djaoktqtv06e3nnm446j468lqda9jjno</string>
	<key>API_KEY</key>
	<string>AIzaSyCKRLlJ2Gkt7LulMo5uYDwCHnvAI1q_VKg</string>
	<key>GCM_SENDER_ID</key>
	<string>732396590903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift-Beginners.TaskCheck</string>
	<key>PROJECT_ID</key>
	<string>taskcheck-c02a4</string>
	<key>STORAGE_BUCKET</key>
	<string>taskcheck-c02a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732396590903:ios:67098ae8ec91df09fdacb2</string>
</dict>
</plist>